.profile img {
    width: 160px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding-bottom: 10px;
}

.bio_small {
    text-align: center;
}

.skills_bio {
    display: inline-flex;
    width: 100%;
}

.col1, .col2 {
    width: 50%;
}

.col1 h2, .col2 h2 {
    text-align: center;
}

.col1 {
    float: left;
}

.col2 {
    float: right;
}

.col1 li {
    padding-bottom: 6px;
}

.col1 .li-tab {
    margin-left: 20px;
    list-style-type: circle;
}

.col2 table {
    margin-left: 20px;
    margin-bottom: 30px;
}

.col2 table th {
    text-align: left;
    width: 130px;
}

.col2 table td {
    text-align: right;
}

.links a {
    display: block;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

.links a:link, .links a:visited {
    border-bottom: 2px solid white;
    border-radius: 0px;
}

.links a:hover {
    border-bottom: 2px solid #83c5be;
    border-radius: 0px;
}

.links img {
    text-align: center;
    max-width: 100%;
}

.units table {
    width: 100%;
}

.units table th {
    text-align: left;
    padding-right: 30px;
    border-bottom: 1px solid #ddd;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 500px;
}

.units table td {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #ddd;
}
