.content {
    overflow: auto;
}
.pc {
    float:right;
    margin-left:10px;
    margin-right:10px;
}
.pc img {
    width: 300px;
    border-radius: 5px;
}
.pc figcaption {
    text-align:center;
    font-style:italic;
}