.rows {
    display:inline-flex;
}

.box {
    width: 400px;
}

.box h2 {
    text-align:center;
}

.box li {
    font-size:1.125em;
}

.box img {
    height: 24px;
    margin-bottom: -5px;
    float:right;
    text-align:center;
}

.box p {
    text-align:center;
}